<div class="by-col-container" id="by-color-selector">

    <div class="by-col-container" by="by-color-picker-container">
        <div class="by-row-container">
            <div id="by-canvas-container">
                <canvas width="{{canvas_width}}px" height="{{canvas_height}}px" id="by-color-picker-canvas"></canvas>
            </div>
            <div id="by-hue-siderbar-container">

            </div>
        </div>
        <div class="by-row-container">
            <div id="by-rgb-input-container">

            </div>
            <div id="by-dropper-container">

            </div>
        </div>
    </div>

    <div class="by-col-container" id="by-swabs-container">
        <div id="by-preset-swabs-container">

        </div>
        <div id="by-recent-swabs-container">

        </div>
    </div>

</div>