{{!
	The div must have a class of app in order to have its z-index be higher than the 
	canvas by default. The z-index can also be manually calculated and added, but I
	feel it is cleaner to instead determine it by inheriting the property.
}}
<div id="by-color-selector" class="app" data-appid="{{appId}}">
    <div>
        <input id="by-color-dropper" type="color" value="{{color}}" />
        <input id="by-color-text" type="text" value="{{color}}" />
        <div>
            <label style="white-space: nowrap; flex-grow: 0;">Opacity: </label>
            <span class="range-value">{{alpha}}</span>
        </div>
        <input id="by-alpha" type="range" min="0" max="1" step="0.1" value="{{alpha}}" />
        {{#if is_stroke}}
            <label style="white-space: nowrap; flex-grow: 0;">Line width: </label>
            <input id="by-stroke-width" type="number" step="1" min="0" value="{{stroke_width}}" />
        {{/if}}
        {{#if is_fill}}
            <label style="white-space: nowrap; flex-grow: 0;">Fill type: </label>
            <select id="by-fill-type">
                <option value="0" {{none_selected}}>None</option>
                <option value="1" {{solid_selected}}>Solid</option>
                <option value="2" {{pattern_selected}}>Pattern</option>
            </select>
        {{/if}}
    </div>
</div>