{{!
	The div must have a class of app in order to have its z-index be higher than the 
	canvas by default. The z-index can also be manually calculated and added, but I
	feel it is cleaner to instead determine it by inheriting the property.
}}

<div id="by-quick-draw-config" class="app" data-appid="{{appId}}" tabindex="0">
    
    <div id="by-tool-name-bar" style="background: {{name_bar_color}};">
        <svg style="height: 16px; width: 100%;">
            <text class="by-stroke-text" id="by-selected-tool" x="50%" y="50%">{{current_tool_tooltip}}</text>
        </svg>
    </div>

    <div class="by-row-container" id="by-control-menu">

        <div class="by-row-container" id="by-tool-container">

            <div id="by-stroke-menu">
                <button class="by-color-button" id="by-stroke-color" type="button" data-tool="stroke" style="background: {{stroke_color}};">S</button>
                <input class="by-text-input" id="by-stroke-color-text" data-tool="stroke" type="text" value="{{stroke_color}}"/>
                <div class="by-row-container">
                    <label class="by-text" for="by-stroke-alpha-label" >Opacity: </label>
                    <span class="by-input-label" id="by-stroke-alpha-label" data-tool="stroke">{{stroke_alpha}}</span>
                </div>
                <input class="by-range-input" id="by-stroke-alpha" data-tool="stroke" type="range" min="0" max="1" step="0.1" value="{{stroke_alpha}}" />
                <label class="by-text" for="by-stroke-width">Line width: </label>
                <div class="by-row-container">
                    <button class="by-input-companion-button" id="by-stroke-width-minus" type="button" data-tool="stroke" title="Click to subtract 1. Shift-click to subtract 5.">-</button>
                    <input class="by-text-input" id="by-stroke-width" data-tool="stroke" type="number" step="1" min="0" value="{{stroke_width}}"/>
                    <button class="by-input-companion-button" id="by-stroke-width-plus" type="button" data-tool="stroke" title="Click to add 1. Shift-click to add 5.">+</button>
                </div>            
            </div>

            <div id="by-fill-menu">
                <button class="by-color-button" id="by-fill-color" data-tool="fill" type="button" style="background: {{fill_color}};">F</button>
                <input class="by-text-input" id="by-fill-color-text" data-tool="fill" type="text" value="{{fill_color}}"/>
                <div class="by-row-container">
                    <label class="by-text" for="by-fill-alpha-label">Opacity: </label>
                    <span class="by-input-label" id="by-fill-alpha-label" data-tool="fill">{{fill_alpha}}</span>
                </div>
                <input class="by-range-input" id="by-fill-alpha" data-tool="fill" type="range" min="0" max="1" step="0.1" value="{{fill_alpha}}"/>
                <label class="by-text" for="by-fill-type" data-tool="fill">Fill type: </label>
                <select class="by-select" id="by-fill-type" data-tool="fill">
                    <option value="0" {{none_selected}}>None</option>
                    <option value="1" {{solid_selected}}>Solid</option>
                    <option value="2" {{pattern_selected}}>Pattern</option>
                </select>
            </div>

        </div>

        <div id="by-color-selector-background" style="background-image: {{start_gradient}};">
            <div id="by-color-selector-menu">
                {{> "modules/boneyard-drawing-tools/templates/color-selector.html"}}
            </div>
        </div>

    </div>
</div>