/* Using a # allows styling to be applied by id rather than class */

div.by-row-container {
    display: flex;
    flex-direction: row;
}

div.by-col-container {
    display: flex;
    flex-direction: column;
}

div#by-quick-draw-config {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
    position: absolute;
    height: fit-content;
    width: fit-content;
    background: none;
}

div#by-tool-name-bar {
    border-radius: 10px 10px 0 0;
}

div#by-control-menu {
    background: #2e353b;
    width: min-content;
}

div#by-tool-container {
    box-shadow: 4px 0px 4px -2px #00000060;
}

div#by-color-selector-background {
    width: 100%;
}

div#by-control-menu > div > div {
    margin: 3px;
}

div#by-stroke-menu > *,
div#by-fill-menu > * {
    margin-bottom: 4px;
}

label.by-text {
    white-space: nowrap;
    flex-grow: 0;
}

svg > text.by-stroke-text {
    fill: white;
    stroke: black;
    stroke-width: 3px;
    text-anchor: middle;
    dominant-baseline: mathematical;
    paint-order: stroke;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: bold;
    stroke-linejoin: round;
}

svg.by-fa-button-icon {
    display: flex;
    width: 100%;
    height: 1em;
    font-size: 32px;
    fill: white;
    stroke: black;
    stroke-width: 150;
    paint-order: stroke;
    stroke-linejoin: round;
    scale: 1.15;
    pointer-events: none;
}

button.by-color-button {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

button.by-input-companion-button {
    /* flex-grow: 0; */
    /* line-height: normal; */
    line-height: 1em;
    /* min-width: 10px; */
    /* width: 12%; */
    width: 1.2em;
    min-width: 1.2em;
    padding: 0 0 0 0;
}

span.by-input-label {
    padding: 0 3px 0 3px;
}

input.by-text-input,
input[type='text'].by-text-input,
input[type='number'].by-text-input {
    width: 80px;
    background: white;
    display: list-item;
}

input.by-text-input#by-stroke-width {
    text-align: center;
    height: auto;
    flex-grow: 1;
    width: 40px;
}

input.by-range-input {
    width: 80px;
    display: list-item;
}

select.by-select {
    text-align: left;
    width: 80px;
    display: list-item;
    background: white;
}

select.by-select#by-fill-type {
    height: auto;
    flex-grow: 0;
}
