
/* Using a # allows styling to be applied by id rather than class */

#by-color-selector {
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: none;
	position: absolute;
	height: fit-content;
	width: fit-content;
	background: #2e353b;
}

#by-color-dropper {
	margin: 0;
	padding: 0;
	border: none;
	height: 80px;
	width: 80px;
	display: list-item;
}

#by-color-text {
	width: 80px;
	background: white;
	display: list-item;
}

#by-alpha {
	width: 80px;
	display: list-item;
}

#by-stroke-width {
	width: 80px;
	display: list-item;
	text-align: center; 
	height: auto; 
	flex-grow: 0;
	background: white;
}

#by-fill-type {
	text-align:left; 
	height: auto; 
	flex-grow: 0;
	width: 80px;
	display: list-item;
	background: white;
}